<section id="about" class="bg-gray-100 pt-1 pb-6 border-b">
	<div
		class="container mx-auto flex flex-col md:flex-row items-center justify-between"
	>
		<!-- Imagen del logo -->
		<div class="md:w-1/2 flex justify-center md:px-6">
			<img
				src="/ana-logotypo-horizontal.png"
				alt="Logo"
				class="w-full max-w-2xl px-6 py-4 md:max-w-sm"
			/>
		</div>

		<!-- Contenido del texto -->
		<div class="md:w-1/2 md:pl-8 text-center md:text-left">
			<h1 class="text-3xl md:text-4xl font-bold mb-4 text-dark">¿Quién soy?</h1>
			<div class="mb-4">
				<hr class="border-t border-gray-800 w-16 mx-auto" />
			</div>
			<span
				class="text-sm uppercase mb-4 text-primary font-serif tracking-wider"
				>espacioparaeelalma</span
			>
			<p class="mt-4 text-base text-gray-700 leading-relaxed">
				Soy Ana Fernández, enfermera y canalizadora de Registros Akáshicos.
				Tengo 30 años y nací en Barcelona.<br /><br />
				Desde que era una niña, unida a mi profunda sensibilidad y desde que fui
				una adolescente, he conocido y he sentido una conexión muy significativa
				con terapias como la Sanción Energética, el Reiki, la Astrología, el Tarot,
				el Oráculo, las Flores de Bach, las Constelaciones Familiares y actualmente,
				una gran pasión por el mundo de los Registros Akáshicos.<br /><br />

				Tras varias experiencias de vida y finalizar mi carrera universitaria
				como enfermera, además de realizar dos Másters universitarios (Máster en
				enfermería de Cuidados Intensivos y otro Máster en Intervenciones
				Complementarias) y llevar más de 7 años trabajando en distintos
				hospitales, servicios, unidades y con diferentes pacientes, supe que, a
				mi camino al servicio de la sanación, le faltaba comprender e incorporar
				algo más allá de lo “tangible” para poder atender mejor a las personas.
				<br /><br />
				Así que, tras tantas horas cerca de la vida y la muerte, decidí explorar
				más sobre la dimensión espiritual de cada ser.<br /><br />
				Desde mi infancia tuve dos grandes sueños. Uno era “ganar” un Premio un Nobel
				de la Paz a través de realizar algo significativo por la humanidad y contribuir
				en la expansión del amor por ella y el otro sueño, era que existiera una
				máquina que pudiera responder cada pregunta sobre TODO lo que existe y que
				pudiera aclarar todas las dudas que me planteaba o necesitaba responder.
				Con el tiempo, descubrí que esa máquina era el llamado de mi alma por encontrar
				Los Registros Akáshicos.
				<br /><br />
				No se me ocurre mejor combinación de ambos sueños que, a través de las Lecturas
				de los Registros Akáshicos, invitar a la humanidad a conectarse con la frecuencia
				más alta de la luz y el amor, tanto a nivel personal como colectivo.
				<br /><br />
				Así que, desde mi más profundo respeto, me encantaría acompañarte a que conozcas
				todo lo que tu alma tiene que decirte.
				<br /><br />
			</p>

			<a
				href="#contact"
				class="mt-4 inline-block bg-primary text-white px-6 py-2 rounded-lg hover:bg-secondary"
			>
				Pedir cita
			</a>
		</div>
	</div>
</section>
