<div class="curved-decoration">
	<div class="decoration-bottom bottom-n1">
		<svg
			version="1.1"
			x="0px"
			y="0px"
			viewBox="0 0 400 43.2"
			enable-background="new 0 0 800 43.2;"
			xml:space="preserve"
		>
			<path
				fill="#f3f5f8"
				d="M0,43.1v-4.8c0,0,187.9-30,400-3S800,0,800,0v43.1H0z"></path>
			<path
				fill="#f3f5f8"
				opacity="0.3"
				d="M0,43V18.7c0,0,131.8-13.9,269.2,20.9C407.2,60,600.3-13.9,800,27.8V43H0z"
			></path>
		</svg>
	</div>
</div>
