<footer class="bg-dark text-white py-8">
	<div class="container mx-auto text-center">
		<form class="my-4 flex justify-center">
			<input
				type="email"
				placeholder="Tu correo electrónico"
				class="p-2 rounded-l-lg"
			/>
			<button
				type="submit"
				class="px-4 py-2 bg-primary text-white rounded-r-lg hover:bg-secondary"
			>
				Suscribirse
			</button>
		</form>
		<div class="flex justify-center space-x-4 my-4">
			<a href="#" class="hover:opacity-75 text-white"
				><span class="fab fa-facebook"></span></a
			>
			<a href="#" class="hover:opacity-75 text-white"
				><span class="fab fa-instagram"></span></a
			>
		</div>
		<p>&copy; 2023 Ana Fernández <br /> Todos los derechos reservados</p>
	</div>
</footer>
