---
import CurvedDecoration from "../components/CurvedDecoration.astro";
---

<section
	id="hero"
	class="relative bg-hero-pattern mx-auto w-full h-[640px] bg-cover bg-no-repeat bg-center"
>
	<div
		style="background:
		linear-gradient(180deg,
		rgba(65,9,121,0.8323713030133928)
		0%,
		rgba(222,179,206,0.29455617696297265)
		100%);"
		class="pt-12 mx-auto text-center py-24 text-white h-full w-full"
	>
		<h1 class="text-4xl text-white md:text-6xl font-bold">ANA FERNÁNDEZ</h1>
		<p class="mt-2">Canalizadora de Registros Akáshicos</p>
	</div>
	<!-- <CurvedDecoration /> -->
</section>
